{% extends 'master/master.html' %}
{% block title %} {{blog.title}} {% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h3>{{blog.title}}</h3>
            <hr/>
            <img src="{{MEDIA_URL}}{{blog.image.url}}" class="img">
            <hr/>
            <p>
                {{blog.content}}
            </p>
            <hr/>
            <div>
                {% for c in comments %}
                  <h5>{{c.user}}</h5>
                   <p>
                       {{c.comment_msg}}
                   </p>
                <hr/>
                {% endfor %}
            </div>
            {% include 'partials/commentform.html' %}
        </div>
        <div class="col-4">

        </div>
    </div>
</div>
{% endblock %}